<div class= "user-data-block">
    <img class="user-img" src="<%= user.photo %>" alt="User photo">
    <div class="name-posts-count">
        <h2 class="user-name"><%= link_to user.name, user_path(user) %></h2>
        
        <div class="user-posts-count"><p>Number of posts: <%= user.posts_counter %></p></div>
    </div>
</div>