:root {
  --common-font-size: 1.4rem;
  --primary-color: #007bff; /* blue */
  --secondary-color: #6c757d; /* gray */
  --success-color: #28a745; /* green */
  --error-color: #dc3545; /* red */
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Navbar */
nav {
  background-color: var(--primary-color); /* Updated to primary color */
  color: #fff;
  padding: 2% 0;
}

/* User data block */
.user-data-block {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.user-img {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

/* User bio */
#user-bio {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

/* User recent posts */
#user-recent-posts {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

/* Each post info */
#each-post-info {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}
